body {
  color: white;
  background-color: black;
  margin-top: 300px;
  width: 800px;
  background-image: url("/Users/bradleyboggs/LC101/unit2/fireside-story/black-and-white-dark-light-255347 copy.jpg");



}